<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RustBank</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/auth.css">
    <link rel="stylesheet" href="/static/css/forms.css">
</head>
<body class="landing-body">

    <div class="landing-container">
        <div class="landing-card">
            <div class="landing-logo">RB</div>

            <h1>Welcome to RustBank</h1>

            <p>
                Rust + Actix Web online banking project
            </p>

            <div class="landing-actions">
                <a href="/login" class="landing-btn primary-btn">Login</a>
                <a href="/register" class="landing-btn secondary-btn">Register</a>
            </div>
        </div>
    </div>

</body>
</html>