# Block Cargo's build outputs
/target/

# Debugging information (Windows binary symbols)
*.pdb


# Block development configuration directories
.rs.bk
.vscode/
.idea/

# Block OS-specific junk files
Thumbs.db
.DS_Store

# Log files
*.log

# Local environment secrets
.env
