# Auto-detect text files and perform normalization
* text=auto


# Ensure Rust and TOML files use specific diff/text settings
*.rs text diff=rust
*.toml text diff=toml


# Treat the lockfile as text
Cargo.lock text linguist-generated=true